@font-face {
    font-family: familyFont;
    src: url(Famig___.TTF);
}
/* GENERAL */

/* INTROGAME */
#headerintro {
    font-family: familyFont;
    font-size: 100px;
    text-align: center;
}
#start-btn {
    font-family: familyFont;
    height: 80px;
    font-size: 40px;

}
#introgame {
    text-align: center;
    }
/* CHARACTERSCENE */


/* WEAPONSCENE */

/* BGSCENE */

/* INSTRUCTION */

/* GAMESCENE */



/*SCENE DISPLAY TRIGGER */
#characterscene {
    display: ;
}
#weaponscene {
    display: none;
}
#weaponscene {
    display: none;
}
#backgroundscene {
    display: none;
}
#instructionscene {
    display: none;
}
