@font-face {
    font-family: familyFont;
    src: url(Famig___.TTF);
}
/* GENERAL */

/* INTROGAME */
#headerintro {
    font-family: familyFont;
    font-size: 100px;
    text-align: center;
}
#start-btn {
    font-family: familyFont;
    height: 80px;
    font-size: 40px;
    margin-top: 400px;
}
#introgame {
    text-align: center;
    }

.introheaderfade {
    animation: introheaderfade 2s ease-out  ;
}

@keyframes introheaderfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* CHARACTERSCENE */


/* WEAPONSCENE */

/* BGSCENE */

/* INSTRUCTION */

/* GAMESCENE */



/*SCENE DISPLAY TRIGGER

#characterscene {
    display: ;
}
#weaponscene {
    display: none;
}
#weaponscene {
    display: none;
}
#backgroundscene {
    display: none;
}
#instructionscene {
    display: none;
}
*/
