/* GENERAL */

/* INTROGAME */

/* CHARACTERSCENE */

/* WEAPONSCENE */

/* BGSCENE */

/* INSTRUCTION */

/* GAMESCENE */



/*SCENE DISPLAY TRIGGER */
#characterscene {
    display: none;
}
#weaponscene {
    display: none;
}
#weaponscene {
    display: none;
}
#backgroundscene {
    display: none;
}
#instructionscene {
    display: none;
}
